label
    display: flex
    display: -ms-flex
    flex-direction: column

    span > em
        color: red

    & > input
        flex-direction: row

input, select, fieldset
    border: 1px solid #ddd
    border-radius: 3px
    margin-bottom: 1rem
    padding: 0.5rem 1rem